.link {
  background: var(--primary);
  padding: 15px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px 1px #BBB;

  &:hover {
    background: var(--primary-hover);
  }
}