.video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0;
  z-index: -1;
  left: 0;
  object-fit: cover;
}

.gradient {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(transparent, rgba(255, 255, 255, 1));
  z-index: -1;
}

.mainSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: sized(5) 0;
  margin-bottom: sized(15);

  @media (max-width: $responsive) {
    min-height: 90vh;
  }
}

.mainInside {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  padding: sized(6);
  border-radius: sized(1.5);
}

.title {
  font-size: sized(10);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $responsive) {
    font-size: sized(6);
  }
}

img.heroLogo {
  width: 100% !important;
  position: relative !important;
  height: 400px !important;
  margin: sized(10) 0;

  @media (max-width: $responsive) {
    margin: sized(4) 0;
    height: 250px !important;
  }
}

.navBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: sized(5);

  & a {
    width: 30%;
  }

  @media (max-width: $responsive) {
    gap: sized(3);

    & a {
      width: 45%;
    }
  }
}